header {
  background-color: #101010;
    padding: 15px;
    width: 100%;
}
.navbar {
  background-color: #222;
}
.navbar-nav {
  margin-left: auto; 
}
.navbar-nav {
  margin-left: auto; 
  display: flex;
  gap: 30px; 
}

.navbar-nav .nav-item {
  margin-right: 0;
}
.card {
  background-color: #2b18bf;
  color: #fff;
  margin: 20px auto; 
  max-width: 900px;
  padding: 20px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#jobList {
  text-align: center; 
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}
